---
import Link from "../components/Link.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Page not Found">
  <div
    class="container"
    style={{
      display: "grid",
      placeItems: "center",
      textAlign: "center",
      gap: "var(--small-sm)",
    }}>
    <div>
      <h1 class="h1">The page is not Available</h1>
      <p>we seem to have misplaced something.</p>

      <Link
        href="/"
        style="primary"
        text="Go Home"
        icon={{
          name: "tabler:home",
          side: "right",
        }}
      />
    </div>
  </div>
</MainLayout>

<style>
  a {
    display: inline-block;
    margin-top: 20px;
  }
</style>
