---
import MainLayout from "../layouts/MainLayout.astro";
import "./../assets/global.css";
import PostCard from "../components/PostCard.astro";
import Link from "../components/Link.astro";
import { formatBlogPosts } from "../js/utils";

const allPosts = await Astro.glob("./blog/*.md");
const formattedPosts = formatBlogPosts(allPosts, { limit: 3 });
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <MainLayout title="Hey there">
      <section class="container about" aria-label="About Me">
        <img
          src="/images/black.jpg"
          alt="My headshot"
          width="200"
          height="330"
        />

        <div class="content">
          <h1 class="h1">My Blog</h1>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex animi
            praesentium repellat aut illum soluta suscipit perferendis. Tempora,
            excepturi quis quisquam fugiat assumenda, modi sapiente debitis
            molestiae possimus consequuntur, obcaecati vitae rerum id.
            Blanditiis saepe voluptatibus quis vitae quasi dolorem.
          </p>
          <Link href="/about" style="primary" text="👋 About Me" />
        </div>
      </section>

      <section class="container" aria-label="New Blog Posts">
        <h2 class="h1">New Blog Posts</h2>

        <div class="post-containter">
          {
            formattedPosts.map((post) => (
              <PostCard
                frontmatter={post.frontmatter}
                url={post.url}
                tagType="h3"
              />
            ))
          }
        </div>
      </section>
    </MainLayout>
  </body>
</html>
